:root{
    --primary-color:rgb(250, 216, 196);
}

/* background image */
.hero-img {
    margin:0px;
    background-image: url("/image/yoda.jpg");
    background-color: #cccccc;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
  /* input text area */
#txt-input{
    background-color:white;
    position:center;
}

/* output text area */
#output{
    background-color:white;
    position:center;
}

/* BUTTON */
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--primary-color);
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .btn-align{
    text-align: center;  
  }

  /* heading */
.hero-heading{
    text-align: center;
    padding-top: 3rem;
    color: var(--primary-color);
    text-shadow: 1px;
    font-size: 75px;
}